[user]
	name = Ashik Nesin
	email = ashik@chargebee.com
[credential]
	helper = store
# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current

[color]
	ui = true
[alias]
	co = checkout
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	rao = remote add origin
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"' #Commits came in since last command

	ct = commit
	cln = git clean -df
	unstage = reset HEAD --
	undo = reset --soft HEAD^
	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
	put = commit --amend --no-edit
	del = "branch -D"
	save = !git add -A && git commit -m 'chore: commit save point'
[url "git@github.com:AshikNesin/"]
  insteadOf = "git://github.com/AshikNesin/"
[core]
	editor = vim
	excludesfile = ~/dotfiles/git/.gitignore
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "github.com"]
	useHttpPath = true
