[submodule "utils/pure"]
	path = utils/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "utils/z"]
	path = utils/z
	url = https://github.com/rupa/z.git
[submodule "local/chrome-extentions/bypass-paywalls-chrome"]
	path = local/chrome-extentions/bypass-paywalls-chrome
	url = https://github.com/iamadamdev/bypass-paywalls-chrome.git
[submodule "utils/whisper-cpp"]
	path = utils/whisper-cpp
	url = https://github.com/ggerganov/whisper.cpp
