[user]
	name = Ashik Nesin
	email = mail@ashiknesin.com
	# signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDAlyVITspj+Rm3nguvjkbb0GdWq8dSDM0jm8TskgagPIA+yyi6sfENzKQOOQiNoamSsFXL0DxK4Yr9S+hlZdfxSlxRm/GYfUGI6T1mULxtk0AHUgyC9fuej1bhdFEhAiq+4oOUbh3pJ9dzSf36Le0wcDVsyPvQ1Li7sTZZHFJm6lRWhsrskgIPHN9pA5w8a07/PLvt1J4nSKV4CryodUiR2Ce2rNa7tq2WdM8xZrIXh2aFQkOFlEhp+KidOFrPGL6queW3fwdlPh+5y8sjLh1b8754HniUvT1e0tWqNp932LZYxZJNpEuKo6YyzWiyQvDZPyuAlyj1XcPbeqF7Nc7JahqnPw2fmsAJ92GyQsQtJb3NxQC8ffSXuDkfuP3Q6iqQ4/wAIORNW6wkFSye4bb6I5aBPyZ6yshABBEHAOyDdLeShKQTBi9nN2tjrr4cC702uNf+SbEuGBZ7bsWzf/TKbwWiSR+MWGKnjjqycl9F2GBaNVnNcHGwSzFsaGolqLeSa8Z+gEHd5UdRp813gUQI3omq/h28S+gilPogHzhvIaNBqMISZdi6JAFQx7By5Yo5x7jLaa91EEDLoGb7WNmf7m5BhIKn0w1Nos7I6Z+EEJ6RP5kGdqTlXRS4c3WtnON7ye8YJw2kn3U7gXkzJXYikLv7Cf3ibWRaJ2OYJF08Ew==
[credential]
	helper = store
[push]
    # push will only do the current branch, not all branches
	default = current
	# https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushautoSetupRemote
	autoSetupRemote = true

[color]
	ui = true
[alias]
	fuzzy="!interactive-checkout"
	pr="!gh pr view --web"
	set-work-email="!git config user.email $WORK_EMAIL"
	set-email="!git config user.email 'mail@ashiknesin.com'"
  # list all aliases
    la = "!git config -l | grep alias | cut -c 7-"
	d = "!git diff --ignore-space-at-eol -b -w --ignore-blank-lines -- ':!**/package-lock.json' ':!**/yarn.lock'"
	undo="git reset --soft HEAD~1"
    # show what I did today
    day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"
	# create an empty commit
    dummy = "!git commit --allow-empty -m 'Empty test commit'"
    cleanup = "!git remote prune origin && git gc && git clean -df && git stash clear"
    remotes = remote -v
    cg = "!sh -c 'git ls-files -m | grep $1 | xargs git checkout ' -"
	co = checkout
	# current branch
	cbr = "!git rev-parse --abbrev-ref HEAD"
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
	put = commit --amend --no-edit
	del = "branch -D"
	save = !git add -A && git commit -m 'chore: commit save point'
	url=!sh -c 'git remote set-url origin git@github.com:AshikNesin/$0.git'
	set-url=!sh -c 'git remote set-url origin $0'
	cb-url=!sh -c 'git remote set-url origin git@cbgit:chargebee/$0.git'
	show-url=!sh -c 'git remote -v'
[url "git@github.com:AshikNesin/"]
  insteadOf = "git://github.com/AshikNesin/"
[url "git@github.com:HugeThoughts/"]
  insteadOf = "git://github.com/HugeThoughts/"
[url "git@cbgit:chargebee/"]
  insteadOf = "git@github.com:chargebee/"
	insteadOf = git@github.com:chargebee/
	insteadOf = https://github.com/chargebee/
[url "git@cbgit:cb-ashik/"]
  insteadOf = "git@github.com:cb-ashik/"
[core]
	editor = vim
	excludesfile = ~/dotfiles/git/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	# sshCommand = "~/.ssh/bin/custom-ssh"
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "github.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
# [gpg]
# 	format = ssh
# [gpg "ssh"]
# 	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
# [commit]
# 	gpgsign = true
# https://developer.1password.com/docs/ssh/git-commit-signing
[includeIf "gitdir:~/work"]
  path = ~/dotfiles/git/.gitconfig-work.local
  
[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true
